* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #36768c;
  font-family: "roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 500px;
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-content {
  height: 100%;
  width: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}

.card:hover .card-content {
  right: 0;
}
.card-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500px;
}

.card-sub-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.card-btn {
  color: #1f3d47;
  background-color: #8fabba;
  padding: 10px 20px;
  border-radius: 5px;
  width: 120px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}
